/* You can add global styles to this file, and also import other style files */
body{
    margin: 0px;
    font: 14px arial, helvetica, sans serif;
}

div{
    min-width: 0;
}

pre{
    background-color: #f1f1f1;
    margin: 0;
    overflow: auto;
}

.internalFigure{
    width: 50%;
    margin: auto;
    border: 3px solid cadetblue;
    border-radius: 15px;
    padding: 10px;
    background-color: darkgray;
}

.internalFigure img{
    width: 100%;
    border: 2px solid cadetblue;
    border-radius: 15px;
}

.internalFigure figcaption{
    text-align: center;
}